body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-container { 
    text-align: center;
    font-family: 'Georgia', serif;

}
.banner-container h1 { 
    color: rgb(33, 33, 33);
    font-size: 24px;
    font-weight: 400;
    position: fixed;
    top: 69px;
    width: 100%;
    background-color: gainsboro;
    padding: 20px 10px;
    text-align: center;
    font-family: 'DM Serif Text', serif;
}
.nav-container {
    background-color: white;
    padding: 10 20px;
    display: flex;
    padding-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
}
.nav {
     list-style: none;
     display: flex;
     gap: 20px;
     position: relative;
     left: 18%;
}
.nav-icon i { 
    color: brown;
    font-size: 28px;
    position: relative;
    top: 20px;
    margin-left:18px ;
}

.name-logo { 
    margin-left: 18px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

.nav > li {
    position: relative;
}
.nav a { 
    text-decoration: none;
    color: black;
    display: block;
    font-family: "DM Serif Text", serif;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
    padding:10px 15px;
}
ul ul {
    position: absolute;
    top: 100%;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    display: none;
    min-width: 200px;
    border-radius: 5px; 
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    z-index: 8;
    left:0;

}

ul ul li {
    display: block;
}
ul ul li a{ 
    padding: 10px 15px;
    color: black;
    display: block;
}
ul li:hover > ul {
    display: block;
}

ul li a:hover { 
    background: rgba(255, 255, 255, 0.3); 
}
.button { 
    padding:10px;
    background-color: rgb(187, 118, 118);
    position: fixed;

}
.button:hover{
    background-color: rgb(209, 187, 187);
}
.section-1 { 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 300px 100px; 
    text-align: center; 
}

.image-acl { 
    width: 100%;
    display: flex;
    justify-content: center; 
}

.ACL { 
    width: 50%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.paragraph { 
    width: 90%; 
    padding-left: 70px;
    padding-top: 46px;

}

.paragraph p {
    font-family: "Signika Negative", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 30px;
}
.submit {
    padding: 10px; 
    color: brown;
    position: relative;
    left: 35px;
}
.ACL-black { 
    font-weight: bold;
    color: black;
}